[Unit]
Description=Libretro-MAME2003-Plus Outputs Server
After=network.target

[Service]
ExecStart=/usr/local/bin/lrmame2003osvr
Restart=on-failure

[Install]
WantedBy=default.target
