[Unit]
Description=Libretro-MAME2003-Plus Outputs Server
After=network.target pigpiod.service
Wants=pigpiod.service

[Service]
ExecStart=%TARGET%
Restart=on-failure

[Install]
WantedBy=default.target
